h1 {
    text-align: center;
}

button {
    margin-bottom: 25px;
}

fieldset {
    width: 25%;
}

.container {
    display:flex;
    justify-content:center;
}

.container > div {
    margin:10px;
  }

div.right {
    /* background-color:red; */
    width: 50%;
    justify-content: center;
}

div.left {
    /* background-color:green; */
    width: 50%;
    justify-content: center;
}

